<%- include('../partials/header') %>

<form action="/routines/<%= routine.id %>?_method=PUT" method="POST">
    <label>Routine:</label>
    <textarea name="routine"><%= routine.routine %></textarea><br>
    <label>Duration:</label>
    <input type="number" name="duration" value="<%= routine.duration %>"><br>
    <label>Starting Time:</label>
    <input type="number" name="startingTime" value="<%= routine.startingTime %>"><br>
    <button type="submit">Update Routine</button>
</form>

<%- include('../partials/footer') %>