<%- include('../partials/header') %>
<h2 class="pageTitle" id="routineIndex">All Routines</h2>
<table class="calendar">
  <thead>
    <th>Day</th>
    <th>Number of Routines Within Day</th>
  </thead>
  <tbody>

    <tr>
      <td>Monday</td>
      <td><%=lengthArr[0]%>
      &nbsp;|&nbsp;
      <a href="routines/Monday">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>Tuesday</td>
      <td><%=lengthArr[1]%>
      &nbsp;|&nbsp;
      <a href="routines/Tuesday">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>Wednesday</td>
      <td><%=lengthArr[2]%>
      &nbsp;|&nbsp;
      <a href="routines/Wednesday">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>Thursday</td>
      <td><%=lengthArr[3]%>
      &nbsp;|&nbsp;
      <a href="routines/Thursday">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>Friday</td>
      <td><%=lengthArr[4]%>
      &nbsp;|&nbsp;
      <a href="routines/Friday">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>Saturday</td>
      <td><%=lengthArr[5]%>
      &nbsp;|&nbsp;
      <a href="routines/Saturday">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>Sunday</td>
      <td><%=lengthArr[6]%>
      &nbsp;|&nbsp;
      <a href="routines/Sunday">DETAILS</a>
      </td>
    </tr>
  </tbody>
</table>

<a href = "routines/new"><button class="indexButton" id="routineNewBtn">Add Weekly Routine</button></a>

<%- include('../partials/footer') %>