<%- include('../partials/header') %>
<h2 class="pageTitle"><%= day %> Routines</h2>

<table class="showCalendar">
    <thead>
        <th>Routine</th>
        <th>Duration (In Hours)</th>
        <th>Starting Time</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
    <% routine.forEach(function(routine){ %>
        <tr>
            <td><%= routine.routine %></td>
            <td><%= routine.duration %></td>
            <td><%= routine.startingTime %></td>
            <td>
                <a href = "/routines/<%= routine.id %>/edit">
                    <button class="editBtn">Edit</button>
                </a>
            </td>
            <td>
                <form action="/routines/<%= routine.id %>?_method=DELETE" method="POST">
                <button type="submit" class="deleteBtn">Delete</button>
                </form>
            </td>
        </tr>
    <% }) %>
    </tbody>

</table>

<a href = "/routines"><button class="backBtn">Back To All Routines Page</button></a>

<%- include('../partials/footer') %>