<%- include('../partials/header') %>
<h2>All Yearly Goals You Have Set</h2>
<table >
  <thead>
    <tr>
      <th>Year:</th>
      <th>Goal:</th>
      <th>Completed:</th>
    </tr>
  </thead>
  <tbody>
    <% years.forEach(function(y) { %>
      <tr>
        <td><%= y.year %></td>
        <td><%= y.goal %></td>
        <td><%= y.completedCheck %></td>
        <td><a href="/years/<%= y._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <a href="years/new"><button>Add New Year Goal</button></a>
  
<%- include('../partials/footer') %>