<%- include('../partials/header') %>

<h2>Routines Listed</h2>
<section>
    <div>Year: <%= year.year %></div>
    <div>Goal: <%= year.goal %></div>
    <div>Description: <%= year.description %></div>
    <div>Priority: <%= year.priority %></div>
    <div>Completed: <%= year.completed %></div>
</section>

<%- include('../partials/footer') %>