<%- include('../partials/header') %>

<h2 class="newformTitle">Edit Your Plan Below</h2>

<form action="/months/<%= month.id %>?_method=PUT" method="POST">
    <fieldset>
        <legend>Edit Form</legend>

        <label>Plan:</label>
        <textarea name="plan"><%= month.plan %></textarea><br>

        <label>Starting Day Number Within Month:</label>
        <input type="number" name="dayNumber" min="1" max="31" value="<%= month.dayNumber %>"><br>

        <label>Number of Days The Plan Will Span:</label>
        <input type="number" name="daySpan" min="1" value="<%= month.daySpan %>"><br>
    
        <label>Completed:</label>
        <select name="completed" value="<%= month.completed %>">
            <option value="Yes">Yes</option> 
            <option value="No">No</option> 
        </select>
    </fieldset>
    <button type="submit" class="addBtn">Update Routine</button>
</form>

<%- include('../partials/footer') %>