<%- include('../partials/header') %>
<h2>All Plans</h2>
<table>
  <tbody>
    <tr id="indexPlans">
      <th>Number of Plans Within January: <%=lengthArr[0]%></th>
      <td><a href="months/January">DETAILS</a></td>
      <th>Number of plans Within February: <%=lengthArr[1]%></th>
      <td><a href="months/Tuesday">DETAILS</a></td>
      <th>Number of plans Within March: <%=lengthArr[2]%></th>
      <td><a href="months/March">DETAILS</a></td>
      <th>Number of plans Within April: <%=lengthArr[3]%></th>
      <td><a href="months/April">DETAILS</a></td>
      <th>Number of plans Within May: <%=lengthArr[4]%></th>
      <td><a href="months/May">DETAILS</a></td>
      <th>Number of plans Within June: <%=lengthArr[5]%></th>
      <td><a href="months/June">DETAILS</a></td>
      <th>Number of Plans Within July: <%=lengthArr[6]%></th>
      <td><a href="months/July">DETAILS</a></td>
      <th>Number of Plans Within August: <%=lengthArr[7]%></th>
      <td><a href="months/August">DETAILS</a></td>
      <th>Number of plans Within September: <%=lengthArr[8]%></th>
      <td><a href="months/September">DETAILS</a></td>
      <th>Number of plans Within October: <%=lengthArr[9]%></th>
      <td><a href="months/October">DETAILS</a></td>
      <th>Number of plans Within November: <%=lengthArr[10]%></th>
      <td><a href="months/November">DETAILS</a></td>
      <th>Number of plans Within December: <%=lengthArr[11]%></th>
      <td><a href="months/December">DETAILS</a></td>
    </tr>
  </tbody>
</table>

<th>
<a href = "months/new"><button>Add New Plan</button></a>
</th>

<%- include('../partials/footer') %>