<%- include('../partials/header') %>
<h2 class="pageTitle">All Monthly Plans</h2>
<table class="calendar">
  <thead>
    <tr>
      <th>Month</th>
      <th>Number of Plans Within The Month:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>January</td>
      <td><%=lengthArr[0]%>
      &nbsp;|&nbsp;
      <a href="months/January">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>February</td>
      <td><%=lengthArr[1]%>
      &nbsp;|&nbsp;
      <a href="months/February">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>March</td>
      <td><%=lengthArr[2]%>
      &nbsp;|&nbsp;
      <a href="months/March">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>April</td>
      <td><%=lengthArr[3]%>
      &nbsp;|&nbsp;
      <a href="months/April">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>May</td>
      <td><%=lengthArr[4]%>
      &nbsp;|&nbsp;
      <a href="months/May">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>June</td>
      <td><%=lengthArr[5]%>
      &nbsp;|&nbsp;
      <a href="months/June">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>July</td>
      <td><%=lengthArr[6]%>
      &nbsp;|&nbsp;
      <a href="months/July">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>August</td>
      <td><%=lengthArr[7]%>
      &nbsp;|&nbsp;
      <a href="months/August">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>September</td>
      <td><%=lengthArr[8]%>
      &nbsp;|&nbsp;
      <a href="months/September">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>October</td>
      <td><%=lengthArr[9]%>
      &nbsp;&nbsp;
      <a href="months/October">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>November</td>
      <td><%=lengthArr[10]%>
      &nbsp;&nbsp;
      <a href="months/November">DETAILS</a>
      </td>
    </tr>

    <tr>
      <td>December</td>
      <td><%=lengthArr[11]%>
      &nbsp;&nbsp;
      <a href="months/December">DETAILS</a>
      </td>
    </tr>
  </tbody>
</table>

<a href = "months/new"><button class="indexButton">Add New Plan</button></a>
<%- include('../partials/footer') %>